In [1]:
import pandas as pd
import numpy as np
path="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/automobileEDA.csv"
df=pd.read_csv(path)

In [2]:
%%capture
! pip install seaborn

In [3]:
import matplotlib.pyplot as plt

import seaborn as sns
%matplotlib inline

In [14]:
df.head()
df["drive-wheels"].value_counts()

fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64

In [23]:
dc=df["drive-wheels"].value_counts().to_frame()
dc.rename(columns={'drive-wheels' : 'd_count'} , inplace=True)
dc.index.name="drive-wheels"
dc

              d_count
drive-wheels
fwd               118
rwd                75
4wd                 8

In [24]:
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [33]:
group=df[['drive-wheels','body-style','price']]
group = group.groupby(['drive-wheels' , 'body-style'],as_index=False).mean()
group

   drive-wheels   body-style         price
0           4wd    hatchback   7603.000000
1           4wd        sedan  12647.333333
2           4wd        wagon   9095.750000
3           fwd  convertible  11595.000000
4           fwd      hardtop   8249.000000
5           fwd    hatchback   8396.387755
6           fwd        sedan   9811.800000
7           fwd        wagon   9997.333333
8           rwd  convertible  23949.600000
9           rwd      hardtop  24202.714286
10          rwd    hatchback  14337.777778
11          rwd        sedan  21711.833333
12          rwd        wagon  16994.222222

In [31]:
group_pivot=group.pivot(index="drive-wheels",columns="body-style")
group_pivot
group_pivot=group_pivot.fillna(0)
group_pivot

                   price                                            \
body-style   convertible       hardtop     hatchback         sedan
drive-wheels
4wd                  0.0      0.000000   7603.000000  12647.333333
fwd              11595.0   8249.000000   8396.387755   9811.800000
rwd              23949.6  24202.714286  14337.777778  21711.833333


body-style           wagon
drive-wheels
4wd            9095.750000
fwd            9997.333333
rwd           16994.222222